$jusdepixel: rgb(232, 180, 0);

$gray-text: rgb(75, 85, 99);
$gray-input: rgb(139, 144, 153);
$gray-logo: rgb(85, 85, 85);
$gray-border: rgb(164, 173, 188);
$gray-bg: rgb(248, 248, 248);
$gray-title: rgb(121, 134, 153);
$gray-link: rgb(37, 37, 37);

$white: rgb(255, 255, 255);
$white-text: rgb(220, 220, 220);
$white-link: rgb(200, 200, 200);
$white-border: rgb(200, 200, 200);
$white-title: rgb(160, 160, 160);

$black: rgb(0, 0, 0);
$black-bg: rgb(21, 21, 21);
$black-bg-20: rgba(0, 0, 0, 0.2);
