$jusdepixel: rgb(34 211 238);

$gray-text: rgb(75, 85, 99);
$gray-input: rgb(139, 144, 153);
$gray-logo: rgb(85, 85, 85);
$gray-border: rgb(164, 173, 188);
$gray-title: rgb(121, 134, 153);

$white: rgb(255, 255, 255);
$white-text: rgb(220, 220, 220);
$white-link: rgb(200, 200, 200);
$white-border: rgb(200, 200, 200);

$black: rgb(0, 0, 0);
$black-bg: rgb(21, 21, 21);
