.dark {
    h2,
    .text-gray-500,
    .text-gray-600,
    .text-gray-700,
    .theme-toggle,
    .choose-domain .choose-domain-text,
    .chevron,
    .domains .domain .domain-front svg,
    .domains .domain .domain-back,
    .jusdepixel,
    .domains .domain.active .domain-secure,
    .domains .domain:hover .domain-secure {
        color: rgb(255, 255, 255);
    }

    .background-bg {
        background: radial-gradient(ellipse at top, rgb(67, 67, 67) 0%, rgb(0, 0, 0) 100%);
    }

    .bg-white {
        background-color: rgb(46, 46, 46);
    }

    [type='text'], [type='email'], [type='url'], [type='password'], [type='number'], [type='date'],
    [type='datetime-local'], [type='month'], [type='search'], [type='tel'], [type='time'], [type='week'],
    [multiple], textarea, select {
        border-color: rgb(85, 85, 85);
        color: rgb(229, 229, 229);
        &:focus {
            border-color: rgb(34 211 238);
        }
    }
}
