@import "@fontsource/roboto-condensed/300.css";
@import "@fontsource/roboto-condensed/400.css";
@import "@fontsource/roboto-condensed/700.css";

@import "background";
@import "logo";
@import "index";
@import "login";
@import "me";
@import "domain";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-weight: 400;
}

.theme-toggle {
    position: absolute;
    right: 10px;
    top: 10px;
    color: rgb(75 85 99);
    cursor: pointer;
}

@import "dark";
