.domains {
    opacity: 0;
    .domain {
        position: relative;
        width: 12vh;

        &:nth-child(1) {
            transform: translateY(-50%);
        }
        &:nth-child(2) {
            transform: translateY(-25%);
        }
        &:nth-child(4) {
            transform: translateY(-25%);
        }
        &:nth-child(5) {
            transform: translateY(-50%);
        }

        .domain-front {
            max-width: 80px;
            margin: 0.5rem auto;
            i {
                display: block;
                font-size: 8vh;
                height: 11vh;
                color: $gray-logo;
                transition-duration: 400ms;
            }
        }
        .domain-back {
            transition-duration: 300ms;
            display: block;
            font-size: 1.8vh;
        }
        .domain-secure {
            transition-duration: 400ms;
            position: absolute;
            font-size: 1.8vh;
            top: 28px;
            left: 10px;
            color: $jusdepixel;
        }

        &.default, &:hover {
            .domain-back {
                transform: translateY(40%) scale(1.6);
            }
            .domain-secure {
                transform: translateX(-50%) translateY(-25%) scale(1.6);
                color: $gray-logo;
            }
            .domain-front {
                i {
                    color: $jusdepixel !important;
                    transform: scale(1.2) translateY(-5%) rotateY(180deg);
                }
            }
        }
    }
}

.loaded .domains {
    opacity: 1;
}

.dark {
    .domains .domain .domain-front i,
    .domains .domain .domain-back,
    .domains .domain.active .domain-secure,
    .domains .domain:hover .domain-secure {
        color: $white;
    }
}
