@import "@fontsource/great-vibes/latin-400.css";

.jusdepixel {
    position: relative;
    display: block;
    margin: 0 auto;
    font-size: 2.5vh;
    text-align: center;
    text-transform: uppercase;
    color: $gray-logo !important;

    &::first-letter {
        font-family: "Great Vibes", sans-serif;
        font-size: 4.6vh;
        color: $jusdepixel;
        margin-right: 0.6vh;
    }
}

.dark .jusdepixel {
    color: $white !important;
}
