.theme-toggle {
    position: absolute;
    right: 10px;
    top: 10px;
    color: $gray-text;
    cursor: pointer;
    &:hover {
        color: $jusdepixel !important;
    }
}

.dark .theme-toggle {
    color: $white;
}
