.me {
    .jusdepixel {
        font-size: 6vh;
        line-height: 18vh;
        &::first-letter {
            font-size: 10vh;
            margin-right: 1vh;
        }
    }
    h2 {
        font-size: 2.5vh;
        color: $gray-logo;
        margin-bottom: 2vh;
        &.logo {
            font-size: 1.9vh;
            padding-left: 11vh;
            margin-top: -6vh;
        }
    }
    .links-me a {
        border-bottom: 1px solid transparent;
        transition-duration: 150ms;
        color: $gray-link;
        font-size: 1.2rem;
        font-weight: 300;
        &:hover {
            color: $gray-link;
            border-color: $gray-border;
        }
        &.active {
            cursor: default;
            color: $gray-logo;
            font-weight: 700;
            &:hover {
                border-color: transparent;
            }
        }
    }

    &.index {
        h2 {
            font-size: 1.4rem;
            &.logo {
                font-size: 1.9vh;
            }
        }
        h3 {
            font-size: 1.6rem;
            color: $gray-text;
            font-weight: 300;
        }
        h4 {
            font-family: "Great Vibes", sans-serif;
            color: $jusdepixel;
            font-size: 2.4rem;
        }
        .picture {
            height: 174px;
            width: 160px;
            border-radius: 50%;
            overflow: hidden;
        }
    }
}

.dark .me {
    h2 {
        color: $white-text;
    }
    .links-me a {
        color: $white-text;
        &:hover {
            color: $white;
            border-color: $white;
        }
        &.active {
            color: $white;
            &:hover {
                border-color: transparent;
            }
        }
    }
}
