@import "../components/domain";

.jusdepixel.index {
    opacity: 0;
    font-size: 8vh;
    line-height: 18vh;
    padding-bottom: 18vh;
    &::first-letter {
        display: block;
        font-size: 14vh;
        margin-right: 1.5vh;
    }
}
.loaded .jusdepixel.index {
    opacity: 1;
}

.choose-domain {
    position: relative;
    opacity: 0;
    margin-top: -2vh;
    .choose-domain-text {
        margin-top: 20px;
    }
    .video-domain {
        position: relative;
        border-radius: 50%;
        background-color: white;
        width: 12vh;
        height: 12vh;
        overflow: hidden;
        video {
            position: absolute;
            left: -1vh;
            opacity: 0.8;
        }
    }
    #video-play, #video-pause {
        position: absolute;
        left: 23.6vh;
        top: 9.8vh;
        color: $jusdepixel;
        cursor: pointer;
        background-color: $white;
        height: 2vh;
        border-radius: 50%;
        i {
            position: relative;
            top: -2vh;
            font-size: 4vh;
            height: 3vh;
        }
        &:hover {
            color: $gray-text;
        }
    }
    #video-pause {
        display: none;
    }

    .chevron {
        height: 40px;
        transition-delay: 700ms;
        transition-duration: 700ms;
        i {
            display: block;
            animation-name: chevron-animation;
            animation-duration: 2000ms;
            animation-delay: 700ms;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
        }
    }
}
.loaded .choose-domain {
    opacity: 1;
}

@keyframes chevron-animation {
    50% { opacity: 0.5; transform: translateY(50%); }
    100% { opacity: 0; transform: translateY(0%); }
}

.dark {
    .chevron,
    .choose-domain .choose-domain-text {
        color: $white;
    }
}
