.me {
    .jusdepixel {
        font-size: 8vh;
        line-height: 10vh;
        &::first-letter {
            font-size: 14vh;
            margin-right: 1.5vh;
        }
    }
    .jusdepixel.page {
        font-size: 4vh;
        line-height: 14vh;
        &::first-letter {
            font-size: 7vh;
            margin-right: 0.75vh;
        }
    }
    h2 {
        font-size: 1.5rem;
        color: $gray-text;
    }
    h3 {
        font-family: "Great Vibes", sans-serif;
        color: $jusdepixel;
        font-size: 2.5rem;
    }
}

.dark .me {
    h2 {
        color: $white-text;
    }
}
