.me {
    .jusdepixel {
        font-size: 8vh;
        line-height: 10vh;
        &::first-letter {
            font-size: 14vh;
            margin-right: 1.5vh;
        }
    }
    &.page .jusdepixel {
        font-size: 4vh;
        line-height: 14vh;
        &::first-letter {
            font-size: 7vh;
            margin-right: 0.75vh;
        }
    }
    h2 {
        font-size: 2.5vh;
        color: $gray-text;
        margin-bottom: 2vh;
        &.logo {
            font-size: 2.6vh;
            padding-left: 14vh;
            &.in-page {
                font-size: 1.3vh;
                padding-left: 7vh;
                margin-top: -5vh;
            }
        }
    }
    h3 {
        font-family: "Great Vibes", sans-serif;
        color: $jusdepixel;
        font-size: 2.5rem;
    }
    .links-me a {
        border-bottom: 1px solid transparent;
        transition-duration: 150ms;
        color: $gray-text;
        &:hover {
            color: $gray-text;
            border-color: $gray-border;
        }
        &.active {
            border-color: $jusdepixel;
            color: $jusdepixel;
        }
    }
}



.dark .me {
    h2 {
        color: $white-text;
    }
    .links-me a {
        color: $white-text;
        &:hover {
            color: $white;
            border-color: $white;
        }
        &.active {
            border-color: $jusdepixel;
            color: $jusdepixel;
        }
    }
}
